.profile {
	width: 60%;
	margin: 0 auto;
}

.top_section {
	height: 70vh;
}

.cover {
	height: 50vh;
	background: black;
	border-bottom-left-radius: 0.5%;
	border-bottom-right-radius: 0.5%;
}

.avatar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: -150px;
	width: 20%;
	padding-bottom: 20px;
}

.avatar h2 {
	font-size: 30px;
}

.avatar_name {
	width: 110%;
}

.profile_pic {
	width: 100%;
}

.profile_pic > img {
	object-fit: contain;
	width: 100%;
	border-radius: 100px;
}

.profile_tabs {
	border-top: 1px solid gray;
	width: 90%;
	margin: 0 auto;
}
